<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>キャラ作成</title>
</head>
<body>
	<h1>キャラ作成</h1>
	<form action="CommandView" method="POST">
		<table class="table">
			<tr>
				<th>職業： <input type="radio" name="health" value="1" checked="checked" />戦士
				<input type="radio" name="health" value="2"  />魔法使い
				</th>
			</tr>

			<tr>
				<th>名前： <input type="text" name="name" />
				</th>
			<th>
					<input type="submit" value="次へ" />
			</th>
			</tr>
		</table>
	</form>
</body>
</html>